# 1 Print All Number Pattern

In [11]:
n=int(input("enter the number of rows"))
for i in range(1,n+1):
    for j in range(i):
        print(i,end=" ")
    print(" ")

enter the number of rows5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [6]:
n=int(input("enter the number of rows"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print(" ")

enter the number of rows5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [1]:
n=int(input("enter the number of rows"))
for i in range(n):
    for j in range(i,-1,-1):
        print(j+1,end=" ")
    print(" ")

enter the number of rows5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [8]:
n=int(input("enter the number of rows"))
for i in range(n+1):
    for j in range(i):
        print((n+1)-i,end=" ")
    print(" ")

enter the number of rows5

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [11]:
n=int(input("enter the number of rows"))
for i in range(n):
    for j in range(i+1):
        print(n-j,end=" ")
    print(" ")

enter the number of rows5
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [12]:
n=int(input("enter the number of rows"))
for i in range(n):
    for j in range(i,-1,-1):
        print(n-j,end=" ")
    print(" ")

enter the number of rows5
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [73]:
n=int(input("enter the number of rows"))
for i in range(n):
    for j in range(n-i):
        print(i+1,end=" ")
    print(" ")

enter the number of rows5
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [77]:
n=int(input("enter the number of rows"))
for i in range(n):
    for j in range(n-i):
        print(" ",end=" ")
    for k in range(i+1):
        print(i+1,end=" ")
    for l in range(i):
        print(i+1,end=" ")
    print(" ")

enter the number of rows5
          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5

In [81]:
n=int(input("enter the number of rows"))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
    for j in range(i+1):
        print(j+1,end=" ")
    print()

enter the number of rows5
    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [82]:
n=int(input("enter the number of rows"))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
    for j in range(i,-1,-1):
        print(n-i,end=" ")
    print()

enter the number of rows5
    5
   4 4
  3 3 3
 2 2 2 2
1 1 1 1 1

# 2 Print All Character Pattern

In [20]:
print(ord("A"))

65

In [22]:
n=int(input("enter the number of rows"))
k=ord("A")
for i in range(n):
    for j in range(i+1):
        print(chr(k),end=" ")
        k=k+1
    print( )

enter the number of rows5
A
B C
D E F
G H I J
K L M N O

In [23]:
n=int(input("enter the number of rows"))
for i in range(n):
    k=ord("A")+i
    for j in range(i+1):
        print(chr(k),end=" ")
        k=k+1
    print( )

enter the number of rows5
A
B C
C D E
D E F G
E F G H I

In [27]:
n=int(input("enter the number of rows"))
k=ord("A")
for i in range(n+1):
    for j in range(i+1):
        print(chr(k),end=" ")
    k=k+1
    print(" ")

enter the number of rows5
A
B B
C C C
D D D D
E E E E E
F F F F F F

In [35]:
n=int(input("enter the number of rows"))
k=ord("E")
for i in range(n):
    for j in range(i+1):
        print(chr(k),end=" ")
    k=k-1
    print(" ")

enter the number of rows5
E
D D
C C C
B B B B
A A A A A

In [36]:
n=int(input("enter the number of rows"))
k=ord("A")
for i in range(n):
    for j in range(i+1):
        print(chr(k),end=" ")
    k=k+2
    print(" ")

enter the number of rows5
A
C C
E E E
G G G G
I I I I I

In [53]:
n=int(input("enter the number of rows"))
p=ord("A")
q=ord("A")
for i in range(n):
    for j in range(n-i):
        print(" ",end=" ")
    for k in range(i+1):
        print(chr(p),end=" ")
    p=p+1
    for l in range(i):
        print(chr(q),end=" ")
    q=q+1
    print(" ")

enter the number of rows5
          A
        B B B
      C C C C C
    D D D D D D D
  E E E E E E E E E

In [54]:
n=int(input("enter the number of rows"))
p=ord("A")
q=ord("A")
for i in range(n):
    for j in range(n-i):
        print(" ",end=" ")
    for k in range(i+1):
        print(chr(p),end=" ")
    p=p+2
    for l in range(i):
        print(chr(q),end=" ")
    q=q+2
    print(" ")

enter the number of rows5
          A
        C C C
      E E E E E
    G G G G G G G
  I I I I I I I I I

In [56]:
n=int(input("enter the number of rows"))
for i in range(n):
    k=ord("A")
    for j in range(i+1):
        print(chr(k),end=" ")
        k=k+1
    print(" ")

enter the number of rows5
A
A B
A B C
A B C D
A B C D E

In [68]:
n=int(input("enter the number of rows"))
for i in range(n):
    p=ord("A")
    for j in range(n-i):
        print(" ",end=" ")
    for k in range(i+1):
        print(chr(p),end=" ")
        p=p+1
    print(" ")

enter the number of rows5
          A
        A B
      A B C
    A B C D
  A B C D E

In [71]:
n=int(input("enter the number of rows"))
k=ord("A")
for i in range(n):
    for j in range(n-i):
        print(chr(k),end=" ")
    k=k+1
    print(" ")

enter the number of rows5
A A A A A
B B B B
C C C
D D
E